#abc{text-align: center;}
#ab{float:left;width:10%;}
#dd{font-size: 20px;}
#bcd{width: 75%;}
#bc{float:right;width:22%;margin-right:30px;}
body{background-color:#f3e6f3; }
div{background-color:black;color: white;height:80px;}
#ll{float:right;height:40px;width:40px;margin-right: 20px;margin-bottom:5px;}
#kk{float:right;height:40px;width:40px;margin-right:20px;margin-bottom:5px; }
.ff{background-color: powderblue;}
